{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">{{ page.title }}
        <small>{{ page.intro|richtext }}</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">{{ page.title }}</li>
      </ol>

      <!-- Project One -->
        {% for post in articles %}
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <a href="#">
                    {% image post.feed_image max-750x300 class="img-fluid rounded" %}
                  </a>
                </div>
                <div class="col-lg-6">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <p class="card-text">{{ post.intro }}</p>
                  <a href="{% pageurl post %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.publish_date }}
            </div>
          </div>

        {% endfor %}       
    </div>

{% endblock %}